.archive-container {
  padding: 40px;
  color: #fff;
}
table {
  width: 100%;
  background: #23282A;
  color: #fff;
}
th.mat-header-cell, td.mat-cell {
  color: #fff;
}
button[mat-button] {
  margin-right: 8px;
}
